{% extends 'base.html' %}

{% load static %}

    {% block title %} {{ block.super }} - {{ carta }}{% endblock %}

    {% block breadcrumb %}
        <li class="breadcrumb-item active"><p align="center">{{ carta }} </p></li>
    {% endblock %}

    {% block content %}

        <ul class="list-group">

            <li class="list-group-item"> Nome: {{ carta }} </li>

            <li class="list-group-item"> Valore: {{ carta.value }} </li>

            <li class="list-group-item"> Seme: {{ carta.tipo }} </li>

        </ul>

    {% endblock content %}

