{% extends 'base.html' %}

{% load static %}

    {% block breadcrumb %}
        <li class="breadcrumb-item active">Tabella delle carte</li>
    {% endblock %}

    {% block content %}
        <table class="table">

            <thead class="thead-dark">

                <tr>
                    <th> Carta </th>

                    <th> Valore </th>

                    <th> Seme </th>

                </tr>

            </thead>

            {% for carta in carte %}
                <tr>

                    <td> <a href = "{% url 'carta' carta.pk %}"> {{ carta }} </a> </td>

                    <td> {{ carta.value }} </td>

                    <td> {{ carta.tipo }} </td>

                </tr>
            {% endfor %}

        </table>
    {% endblock content %}

