{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Inserisci un commento{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Tabella carte</a></li>
  <li class="breadcrumb-item"><a href="{% url 'carta' carta.pk %}">{{ carta}}</a></li>
  <li class="breadcrumb-item active">nuovo commento</li>
{% endblock %}

{% block content %}

    <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock %}